html {
    background-color: powderblue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-attachment: fixed;
}

body {
    text-align: center;
    font-size: 12pt;
}

h1 {
    font-size: 36pt
}

label {
    font-size: 12pt
}

.whoweare {
    font-size: 10pt;
    text-align: center;
    width: 50%;
}